@model Pouya.Models.FeedbackPageMV

@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Potzdamer Str5<br />
        14513 Teltow<br />
        <abbr title="Phone">Mobeil : </abbr>
        017658174306
    </address>

    <address>
        <strong>Support:</strong>   <a href="">h.pouyaa86@gmail.com</a><br />
    </address>
</main>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Feedback</h4>
    <hr />
    @if (TempData["Success"] != null)
    {
        <span class="alert alert-success"  >
            @TempData["Success"]
        </span>
    }

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CreateForm.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreateForm.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CreateForm.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreateForm.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreateForm.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CreateForm.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreateForm.Text, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.CreateForm.Text, new { htmlAttributes = new { @class = "form-control", row = 5, placeholder = "Ihre Nachricht..." } })
            @Html.ValidationMessageFor(model => model.CreateForm.Text, "", new { @class = "text-danger" })
        </div>
    </div>
    &nbsp;
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}


<hr/>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FeedBackList.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedBackList.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedBackList.First().Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.FeedBackList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>